NinaAgent_Hub/public/คู่มือการใช้งาน_Meeting_to_Notion_Agent_Pro/PM Input To GPT.blueprint.json
{
    "name": "PM Input To GPT",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3115877,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -762,
                    "y": -118
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "PM Input"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "meeting_notes",
                        "type": "text"
                    },
                    {
                        "name": "system_prompt",
                        "type": "text"
                    },
                    {
                        "name": "current_date",
                        "type": "text"
                    },
                    {
                        "name": "thai_date",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 44,
            "module": "gemini-ai:simpleTextPrompt",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "model": "gemini-3.5-flash",
                "textPrompt": "{{1.system_prompt}}ข้อมูลบันทึกการประชุมจริงที่ต้องวิเคราะห์ทันที:\n\"\"\"\n{{1.meeting_notes}}\n\"\"\""
            },
            "metadata": {
                "designer": {
                    "x": -332,
                    "y": -111
                },
                "restore": {
                    "expect": {
                        "model": {
                            "label": "Gemini 3.5 Flash"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true,
                        "validate": {
                            "enum": [
                                "gemini-3.5-flash",
                                "gemini-3.1-pro-preview",
                                "gemini-3-flash-preview",
                                "gemini-2.5-pro",
                                "gemini-2.5-flash"
                            ]
                        }
                    },
                    {
                        "name": "textPrompt",
                        "type": "text",
                        "label": "Text prompt",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 63,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{replace(replace(44.result; \"/^```json\\s*/i\"; \"\"); \"/\\s*```$/\"; \"\")}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 53,
                    "y": -123
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}